@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
}


   @*@if (Model != null && HttpContext.Current.IsDebuggingEnabled)
   {*@
    <div>
        <p>
            @if (Model.Exception.InnerException != null)
            {
                <b>Error Message:- </b>@Model.Exception.InnerException.Message <br /> @Model.Exception.Message
            }
            else
            {
                <b>Error Message:- </b>@Model.Exception
            }
        </p>
        @*<div style="overflow:scroll">
                        <pre>
            @Model.Exception.StackTrace
                            </pre>
                    </div>*@<div style="overflow:scroll">
            <pre>
            @Model.Exception.StackTrace
                            </pre>
        </div>
    </div>
   @*}*@

